extends ../layouts/page.pug

block content

  .row.justify-content-center

    .col-lg-8

      .card.shadow-sm.border-0

        .card-header.bg-primary.text-white

          h3.mb-0
            i.bi.bi-plus-circle-fill.me-2
            | New Course

        .card-body

          form(
            action=route('createCourse')
            method='post'
          )

            .mb-3

              label.form-label Title

              input.form-control(
                type='text'
                name='titulo'
                required
              )

            .mb-3

              label.form-label Description

              textarea.form-control(
                name='descripcion'
                rows='5'
                required
              )

            .d-flex.justify-content-between

              a.btn.btn-outline-secondary(
                href=route('courses')
              )
                i.bi.bi-arrow-left.me-2
                | Cancel

              button.btn.btn-primary(
                type='submit'
              )
                i.bi.bi-check-circle-fill.me-2
                | Create Course