extends ../layouts/page.pug

block content

  .row.justify-content-center

    .col-lg-8

      .card.shadow-sm.border-0

        .card-header.bg-warning

          h3.mb-0
            i.bi.bi-pencil-fill.me-2
            | Edit User

        .card-body

          form(
            method='patch'
            action=route('updateUser', { id: user.id })
          )

            .mb-3

              label.form-label
                | Username

              input.form-control(
                type='text'
                name='username'
                value=user.username
                required
              )

            .mb-3

              label.form-label
                | Email

              input.form-control(
                type='email'
                name='email'
                value=user.email
                required
              )

            .d-flex.justify-content-between

              a.btn.btn-outline-secondary(
                href=route('user', { id: user.id })
              )
                i.bi.bi-arrow-left.me-2
                | Cancel

              button.btn.btn-warning(
                type='submit'
              )
                i.bi.bi-save-fill.me-2
                | Save Changes